{% extends 'attendance/base.html' %}
{% block content %}
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>Date</td>
          <td>Subject</td>
          <td>Group</td>
          <td>Begin</td>
          <td>End</td>
          <td>Class hours</td>
          {% comment %} {% for registry in registries %}
            <th scope="col">{{ registry.session_date }}</th>
          {% endfor %}   {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% comment %} {% for detail in details %}
          <tr>
            <td>{{ detail.attendance }}</td>
          </tr>
        {% endfor %} {% endcomment %}
        {% for registry in registries %}
        <tr>
          <td>{{ registry.session_date }}</td>
          <td>{{ registry.subject }}</td>
          <td>{{ registry.class_group }}</td>
          <td>{{ registry.session_start }}</td>
          <td>{{ registry.session_end }}</td>
          <td>{{ registry.session_hours_count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}