{% extends "attendance/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
      <a href="{% url 'web-login' %}">Log in again</a>
    </div>
{% endblock content %}